<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vibr - Spotify Connection</title>
</head>

<body>
  <style>
    :root {
      --purple-100: hsl(263, 84%, 11%);
      --purple-200: hsl(262, 80%, 19%);
      --purple-300: hsl(262, 76%, 28%);
      --purple-400: hsl(262, 73%, 38%);
      --purple-500: hsl(262, 75%, 47%);
      --purple-600: hsl(262, 77%, 61%);
      --purple-700: hsl(262, 83%, 70%);
      --purple-800: hsl(262, 85%, 79%);
      --purple-900: hsl(262, 90%, 93%);

      --teal-100: hsl(206, 87%, 14%);
      --teal-200: hsl(203, 68%, 23%);
      --teal-300: hsl(201, 56%, 30%);
      --teal-400: hsl(200, 55%, 41%);
      --teal-500: hsl(200, 55%, 58%);
      --teal-600: hsl(199, 55%, 63%);
      --teal-700: hsl(197, 55%, 68%);
      --teal-800: hsl(196, 67%, 80%);
      --teal-900: hsl(195, 80%, 90%);

      --grey-100: hsl(243, 31%, 10%);
      --grey-200: hsl(241, 25%, 14%);
      --grey-300: hsl(240, 23%, 22%);
      --grey-400: hsl(238, 18%, 35%);
      --grey-500: hsl(238, 17%, 45%);
      --grey-600: hsl(237, 16%, 58%);
      --grey-700: hsl(235, 23%, 68%);
      --grey-800: hsl(233, 24%, 78%);
      --grey-900: hsl(230, 30%, 93%);

      --red-100: hsl(348, 85%, 14%);
      --red-200: hsl(350, 82%, 23%);
      --red-300: hsl(353, 80%, 30%);
      --red-400: hsl(355, 77%, 41%);
      --red-500: hsl(356, 75%, 53%);
      --red-600: hsl(358, 80%, 65%);
      --red-700: hsl(360, 87%, 76%);
      --red-800: hsl(360, 90%, 86%);
      --red-900: hsl(360, 100%, 93%);

      --colour-bg: var(--grey-200);
      --font-body: Ubuntu, sans-serif;
      --font-mono: Ubuntu-mono, sans-serif;
    }

    body {
      background-color: var(--colour-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: var(--font-body);
      font-size: 1.25rem;
    }

    a {
      color: var(--purple-600);
    }

    .central-text {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    .info-good {
      color: var(--purple-900);
      font-weight: 500;
    }
    .sub-info-good {
      color: var(--grey-800);
      padding-top: 1rem;
      font-weight: 300;
    }

    .info-bad {
      color: var(--red-500);
      font-weight: 500;
    }
    .sub-info-bad,
    .support-info {
      color: var(--grey-800);
      padding-top: 1rem;
      font-weight: 300;
    }

    .logos {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem;
      color: var(--teal-800);
    }

    .logo-divisor {
      color: var(--purple-800);
      animation: rotate 2s cubic-bezier(0.98, -0.75, 0.275, 1.55);
      margin: 0 1rem;
    }

    @keyframes rotate {
      to {
        transform: rotate(359deg);
      }
    }

    .monospace {
      font-size: 1rem;
    }

  </style>
  <div class="central-text">
    <div class="logos">
      <svg width="70px" height="80px" viewBox="0 0 896 1024" role="img"
        aria-label="Vibr logo">
        <path fill="currentColor"
          d="M 865.72788,575.05982 153.5124,997.2284 c 0,0 -48.91883,38.5774 -101.43275,23.1148 C 12.0172,1008.5469 0,967.936 0,967.936 V 67.547504 c 0,0 14.18402,-50.5488 53.4612,-63.7083095 45.45952,-15.2308505 90.93426,19.7723395 90.93426,19.7723395 L 865.89038,450.68483 c 0,0 29.8109,24.1938 30.1071,58.62716 0.3215,37.38017 -30.2696,65.74783 -30.2696,65.74783 z" />
      </svg>
      <svg width="40px" height="40px" viewBox="0 0 32 32" class="logo-divisor" role="img"
        aria-label="Cross symbol for separation">
        <path fill="currentColor"
          d="M18.8,16l5.5-5.5c0.8-0.8,0.8-2,0-2.8l0,0C24,7.3,23.5,7,23,7c-0.5,0-1,0.2-1.4,0.6L16,13.2l-5.5-5.5  c-0.8-0.8-2.1-0.8-2.8,0C7.3,8,7,8.5,7,9.1s0.2,1,0.6,1.4l5.5,5.5l-5.5,5.5C7.3,21.9,7,22.4,7,23c0,0.5,0.2,1,0.6,1.4  C8,24.8,8.5,25,9,25c0.5,0,1-0.2,1.4-0.6l5.5-5.5l5.5,5.5c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L18.8,16z" />
      </svg>
      <svg width="80px" height="80px" viewBox="0 0 168 168" role="img"
        aria-label="Spotify logo">
        <path fill="currentColor"
          d="m83.996 0.277c-46.249 0-83.743 37.493-83.743 83.742 0 46.251 37.494 83.741 83.743 83.741 46.254 0 83.744-37.49 83.744-83.741 0-46.246-37.49-83.738-83.745-83.738l0.001-0.004zm38.404 120.78c-1.5 2.46-4.72 3.24-7.18 1.73-19.662-12.01-44.414-14.73-73.564-8.07-2.809 0.64-5.609-1.12-6.249-3.93-0.643-2.81 1.11-5.61 3.926-6.25 31.9-7.291 59.263-4.15 81.337 9.34 2.46 1.51 3.24 4.72 1.73 7.18zm10.25-22.805c-1.89 3.075-5.91 4.045-8.98 2.155-22.51-13.839-56.823-17.846-83.448-9.764-3.453 1.043-7.1-0.903-8.148-4.35-1.04-3.453 0.907-7.093 4.354-8.143 30.413-9.228 68.222-4.758 94.072 11.127 3.07 1.89 4.04 5.91 2.15 8.976v-0.001zm0.88-23.744c-26.99-16.031-71.52-17.505-97.289-9.684-4.138 1.255-8.514-1.081-9.768-5.219-1.254-4.14 1.08-8.513 5.221-9.771 29.581-8.98 78.756-7.245 109.83 11.202 3.73 2.209 4.95 7.016 2.74 10.733-2.2 3.722-7.02 4.949-10.73 2.739z" />
      </svg>
    </div>
    {% if not error %}
    <span class="info-good">Connected your <strong>Spotify</strong> account to
      <strong>Vibr</strong>!</span>
    <span class="sub-info-good">Continue playing music, now with the ability to use
      <code class="monospace">/spotify playlists</code></span>
    {% else %}
    <span class="info-bad">Failed to connect your <strong>Spotify</strong> account to
      <strong>Vibr</strong></span>
    <span class="sub-info-bad">Close this window and try again.</span>
    <span class="support-info">If this continues, please ask in our <a href="">
      support server</a> with the following info: <code>{{ error }}</code></span>
    {% endif %}
  </div>
</body>

</html>
